*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: DDD;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    /*font-family:'Avenir LT W01 85 Heavy';*/
}

.logo{
    /*color: rgb(266,266,266); */
    color: black;
    text-transform: uppercase;
    float: left;
    align-items: center;
    align-content: center;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
}

.home{
    text-decoration: none;
    font-size: 40px;
}

.nav-links{
    display: flex;
    float: right;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    /*color: rgb(266,266,266);*/
    color: black; 
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px; 
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    height: 60px;
    width: 400px;
    border-radius: 40px;
    padding: 10px;
    align-items: center;
    align-content: center;
}

.search-btn{
    color: rgb(126, 121, 121);
    float: right;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-decoration: none;
    position: absolute;
    top: 3;
    right: 10
}


.search-txt{
    border: none; 
    background: none;
    outline: none;
    float: left; 
    padding: 0x; 
    left: 5px;
    color: black;
    font-size: 20px; 
    line-height: 40px;
}

.about-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    height: 350px;
    width: 700px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.contact-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    height: 200px;
    width: 700px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.about-text{
    display: inline-block;
}

.faq-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    height: 350px;
    width: 700px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}